/*

Theme Name: bourget
Author: Zoan
Author URI: https://zoan.fr/
Version: 1.0

*/
@import "css/bootstrap";
@import "css/wordpress";
@import "css/config";
@import "css/html";
@import "css/social-network";
@import "css/cookie";
@import "css/header";
@import "css/menu";
@import "css/home";
@import "css/temoignages";
@import "css/footer";

@mixin shadHover($color: $color1) {
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s;

  &:hover {
    -webkit-box-shadow: 0 0 30px $color;
            box-shadow: 0 0 30px $color;
  }
}

body {
  overflow-x: hidden;
}

label {
  display: inline;
}

iframe, button, input, optgroup, select, textarea {
  max-width: 100%;
}

input[type="submit"], span.wpcf7-list-item {
  margin-bottom: 0;
  margin-left: 0;
}

input[type="text"], input[type="email"], input[type="date"], optgroup, select, textarea {
  border: 1px solid gainsboro;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  width: 100%;
}

.padding {
  padding: 0 0 50px;
}

.hidden {
  display: none;
}

.search-results li::before {
  content: none;
}


// archive
.archive {
  &-item {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid lighten($color1, 15%);

    &:last-child {
      border-bottom-width: 0;
    }
  }
}
// fin archive


//pages type
#type .img-fluid.cms-img {
  max-width: 50%;
}
//fin pages type

// breadcrumb
.breadcrumb {
  background-color: transparent;
}
// fin breadcrumb

// page contact
.formContact {
  input[type="text"], input[type="email"], optgroup, select, textarea {
    width: 100%;
  }

  & &-box {
    > div {
      padding: 20px;
      background-color: #f9f8f6;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }

    &--title {
      margin-top: 1rem;
      color: $color1;
    }

    &--text {
      color: $color1;
    }

    &--map {
      padding: 15px;
      background-color: $color2;
      margin-top: 30px;
      width: 100%;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
    }
  }
}
// fin page contact

// cookie
.cc {
  &-banner, &-theme-edgeless.cc-window {
    color: darken($color1, 15%);
    background-color: lighten($color1, 45%);
  }

  &-btn {
    color: white;
    background-color: $color1;
    border: none;

    &:hover {
      text-decoration: none;
      background-color: lighten($color1, 65%);
    }
  }
}
// fin cookie
