@import "config";

// Surclasse le formulaire de connexion à l'admin
body.login {
  background: #FFF;

  form {
    background: $color1;
  }

  label {color: #FFF;}

  h1 {
    background-color: #1C1C1C;

    a {
      background: url(../img/zoan.svg)!important;
      width: 320px;
      height: 112px;
      background-size: contain !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
    }
  }
}

//Surclasse l'admin

#wpadminbar {
  background-color: $color1;

  & .ab-top-menu>li.hover>.ab-item, &.nojq .quicklinks .ab-top-menu>li>.ab-item:focus, &:not(.mobile) .ab-top-menu>li:hover>.ab-item, &:not(.mobile) .ab-top-menu>li>.ab-item:focus, & .quicklinks .ab-sub-wrapper .menupop.hover>a, & .quicklinks .menupop ul li a:focus, & .quicklinks .menupop ul li a:focus strong, & .quicklinks .menupop ul li a:hover, & .quicklinks .menupop ul li a:hover strong, & .quicklinks .menupop.hover ul li a:focus, & .quicklinks .menupop.hover ul li a:hover, & .quicklinks .menupop.hover ul li div[tabindex]:focus, & .quicklinks .menupop.hover ul li div[tabindex]:hover, & li #adminbarsearch.adminbar-focused:before, & li .ab-item:focus .ab-icon:before, & li .ab-item:focus:before, & li a:focus .ab-icon:before, & li.hover .ab-icon:before, & li.hover .ab-item:before, & li:hover #adminbarsearch:before, & li:hover .ab-icon:before, & li:hover .ab-item:before, &.nojs .quicklinks .menupop:hover ul li a:focus, &.nojs .quicklinks .menupop:hover ul li a:hover, &:not(.mobile)>#wp-toolbar a:focus span.ab-label, &:not(.mobile)>#wp-toolbar li:hover span.ab-label, &>#wp-toolbar li.hover span.ab-label {
    color: white;
  }
}

#adminmenu {
  & li.menu-top:hover, & li.opensub>a.menu-top, & li>a.menu-top:focus, & .wp-submenu a:focus, & .wp-submenu a:hover, & a:hover, & li.menu-top>a:focus, & li a:focus div.wp-menu-image:before, & li.opensub div.wp-menu-image:before, & li:hover div.wp-menu-image:before {
    color: $color2;
  }

  & .wp-has-current-submenu .wp-submenu .wp-submenu-head, & .wp-menu-arrow, & .wp-menu-arrow div, & li.current a.menu-top, & li.wp-has-current-submenu a.wp-has-current-submenu, .folded & li.current.menu-top, .folded & li.wp-has-current-submenu {
      background: $color1;
  }
}

.wp-core-ui .button-primary {
  background: $color1;
  border: none;
  -webkit-box-shadow: none!important;
          box-shadow: none!important;
  text-shadow: none!important;

  &.focus, &.hover, &:focus, &:hover,
  &.active, &.active:focus, &.active:hover, &:active {
    background: $colorStrong;
  }
}
