// mixins
@mixin background($src, $size: cover, $pos: center, $repeat: no-repeat) {
  background-image: $src;
  background-size: $size;
  background-position: $pos;
  background-repeat: $repeat;
  -webkit-transition: background-image .2s;
  transition: background-image .2s;
}

// variables
$color1: #83092b; //rouge bordeau
$color2: #8fb819; //vert
$color3: #eaeaea; //gris
$colorStrong: darken($color1, 5%);

$colorTitle: $colorStrong;
$colorText: black;

$ffTitle: 'Coustard', serif;
$ffText: 'Mada', sans-serif;


$backgroundHeader: url(img/bandeau.jpg);
