// footer
.footer {
  background-color: $color2;
  padding: 30px 0;
  color: white;

  & &-list {

    @media (max-width: 992px) {
      text-align: center;
    }

    li:hover::before {
      left: -.7rem;
    }

    li:before {
      border-top-color: white;
      border-right-color: white;
    }

    a {
      color: white;

      &:hover {
        text-decoration: none;
      }
    }
  }

  & &-brand--img {
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
  }

  & &-title:not(:empty) {
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 0;
    color: white;
  }

  & &-brand--title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: white;
    line-height: 1;
    margin-bottom: 5px;
  }

  & &-brand--text {
    text-align: center;
    font-size: 14px;
    line-height: 18px;

    @media (min-width: 992px) {
      margin-bottom: 0;
    }
  }
}

#copyright {
  font-size: 16px;
  font-weight: 300;
  text-align: center;

  a {
    color: white;
  }
}
// fin footer
