// header
.header {
  background-color: white;

  & &-contact {
    padding-top: 20px;
    padding-bottom: 20px;

    &--col {
      color: $color1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }

    &--text {
      color: $color1;
      margin-bottom: 10px;
      display: block;
    }

    &--phone {
      color: $color1;
    }

    &--icon {
      fill: $color1;
      width: 30px;
      height: 30px;
    }

    &--social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }

    &--mail {
      margin-right: 5px;
    }
  }

  & &-contact--link:hover &-contact--icon,  {
    fill: $color2;
  }

  & &-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    @media (max-width: 992px) {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
    }
  }

  & &-title, & &-img {
    margin-bottom: 0;
  }

  & &-img {
    // largeur du logo
    width: 145px;
  }

  & &-link {
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;

    &:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }

  &-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    &--user {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    &--link {
      font-size: 15px;
      margin-top: 0;
      margin-bottom: 2.5px;
      margin-left: 2.5px;
      margin-right: 2.5px;
    }

    &--blockCart {
      margin-top: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }

    &--icon {
      fill: $color1;
      width: 30px;
      height: 30px;
      margin-right: 8px;
    }

    &--text {
      color: $color1;
    }
  }
}
// fin header
