// bandeau
.bandeau {
  margin-top: 30px;

  &-container {
    background-image: $backgroundHeader;
    background-size: cover;
    background-position: center;
    min-height: 415px;
    border-radius: 40px;
  }

  &-frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  &-title {
    margin-top: 13%;
    padding: 2%;
    font-size: 51px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;

    @media (max-width: 1200px) {
      &::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        -webkit-filter: blur(4px);
                filter: blur(4px);
        background-color: rgba(white, .8);
      }
    }
  }

  &-subtitle {
    text-transform: none;
    font-family: $ffText;
    font-size: 39.9px;
    font-weight: 300;
  }

  &-link {
    margin-top: 15px;
    font-size: 28px;
    border-radius: 8px;
    position: relative;
    color: white;
    z-index: 2;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: color .2s;
    transition: color .2s;

    @media (max-width: 1200px) {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    &::before, &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

    &::after {
      z-index: -1;
      background-color: $color2;
      border-radius: 4px;
      display: inline-block;
      border-width: 0;
      border: 1px solid $color2;
      text-align: center;
      -webkit-transition: all .2s linear;
      transition: all .2s linear;
      outline: none;
      height: 100%;
      width: 100%;
    }

    &::before {
      $width: 509;
      $height: 84;
      $subwidth: $width / 1.5;
      $subheight: $height / 1.5;
      content: "";
      z-index: -1;
      position: absolute;
      background-size: cover;
      top: 50%;
      left: 50%;
      background-image: url(img/motif.svg);
      width: #{$width}px;
      height: #{$height}px;
      background-position: center;
      background-repeat: no-repeat;

      @media (max-width: 1200px) {
        width: #{$subwidth}px;
        height: #{$subheight}px;
      }

      @media (max-width: 576px) {
        display: none;
      }
    }

    &:hover {
      text-decoration: none;

      &::after {
        background-color: transparent;
      }
    }
  }
}
// fin bandeau

// prestations
.prestations {
  padding-top: 50px;

  &-text {
    font-size: 20px;
    text-align: center;
  }

  &-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  &-container {
    margin-top: 50px;
  }

  &-card {
    display: block;

    @media (max-width: 768px) {
      -ms-flex: 0 0 100%;
      -webkit-box-flex: 0;
      flex: 0 0 100%;
      max-width: 100%;
    }

    &:hover {
      text-decoration: none;
    }

    &:hover .prestations-card--img::after {
      -webkit-transform: translate(-50%, -50%) scale(1);
              transform: translate(-50%, -50%) scale(1);
    }

    &1, &2, &4 {
      margin-right: 15px;

      @media (max-width: 768px) {
        margin-right: 0;
      }
    }

    &7 {
      margin-top: 25px;
    }

    &--img {
      border-radius: 30px;
      position: relative;
      max-width: 100%;

      @media(max-width: 768px) {
        margin: 0 auto;
        width: auto !important;
      }

      &::after {
        content: "";
        border-radius: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) scale(0);
                transform: translate(-50%, -50%) scale(0);
        height: 100%;
        width: 100%;
        background-color: rgba($color1, .5);
        -webkit-transition: -webkit-transform .3s;
        transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s;
      }

      &1 {
        width: 313px; height: 270px;
      }

      &2 {
        width: 313px; height: 270px;
      }

      &3 {
        width: 503px; height: 270px;
      }

      &4 {
        width: 645px; height: 311px;
      }

      &5 {
        width: 236px; height: 122px;
      }

      &6 {
        width: 235px; height: 122px;
      }

      &7 {
        width: 503px; height: 122px;
      }
    }

    @for $i from 1 through 7 {
      &--img#{$i} {
        @include background(url(img/prestations#{$i}.jpg));
      }
    }

    &--title {
      text-align: center;
      font-family: $ffText;
      font-size: 32px;
      margin-top: 10px;
      margin-bottom: 0;

      &Min {
        font-size: 25px;
      }
    }

    &--text {
      text-align: center;
      font-weight: 500;
      color: $color1;
      font-size: 19px;
    }

    &--frame {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
  }
}
// fin prestations

// engagements
.engagements {
  background-color: #f9f8f6;
  padding-top: 35px;
  padding-bottom: 15px;

  &-title {
    margin-bottom: 30px;
  }

  &-frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    &:last-child .engagements-img::after {
      content: none;
    }
  }

  &-img {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    &::after {
      content: "...";
      line-height: 0;
      color: $color1;
      font-size: 40px;
      position: absolute;
      top: calc(50% - 10px);
      right: -15px;
      -webkit-transform: translate(50%, -50%);
              transform: translate(50%, -50%);

      @media (max-width: 992px) {
        content: none;
      }
    }
  }

  &-icon {
    height: 125px;
    width: 125px;
    stroke: $color1;
    fill: $color1;
  }

  &-text {
    text-align: center;
    font-family: $ffTitle;
    color: $color1;
    font-size: 20px;
    margin-bottom: 25px;
  }
}
// fin engagements

// aside
.aside {
  &-img {
    @include background(url(img/panier.jpg), contain);
    height: 100%;
    width: 100%;
  }

  &-title {
    padding-top: 135px;
    font-size: 38px;
  }

  &-subtitle {
    font-weight: 300;
    color: $color1;
    font-size: 31px;
  }

  &-text {
    padding-bottom: 135px;
  }
}
// fin aside

// socialPlug 

.socialPlug {
  margin-top: 50px;
  @include background(url(img/FOND_FLOU_FACEBOOK.jpg));

  &-block {
    margin-top: 50px;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    * {
      max-width: 100%;
    }

    &:nth-of-type(1) {
      @media (max-width: 992px) {
        margin-bottom: 0;

      }
    }
  }

  &-text {
    text-align: right;
    @extend h2;

    @media (max-width: 1200px) and (min-width: 992px) {
      font-size: 27px;
    }

    @media (max-width: 992px) {
      text-align: center;
    }
  }

  &-span {
    color: $color2;
    font-size: 63px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: block;

    @media (max-width: 1200px) and (min-width: 992px) {
      font-size: 53px;
    }

    &::before, &::after {
      content: "";
      height: 2px;
      background-color: $color2;
      width: 100%;
      display: block;
    }
  }
}
// fin socialPlug
