// styles commun à l'éditeur de Wordpress et au template

body {
  font-family: $ffText;
  color: $colorText;
  font-size: 18px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $ffTitle;
  color: $colorTitle;
}

.padding h1 {
  padding-top: 45px;
}

h1 {
  color: $color1;
  margin-bottom: 2.5rem;
  text-align: center;
}

.mustache {
  font-size: 38px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (max-width: 992px) {
    font-size: 32px;
  }

  &::after,
  &::before {
    content: "";
    display: flex;
    height: 8px;
    min-width: 2rem;
    max-width: 6rem;
    flex: 1 0;
    width: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8fb819+0,8fb819+33,ffffff+33,ffffff+33,ffffff+66,8fb819+66,8fb819+100 */
    background: #8fb819; /* Old browsers */
    background: -moz-linear-gradient(top,  #8fb819 0%, #8fb819 33%, #ffffff 33%, #ffffff 33%, #ffffff 66%, #8fb819 66%, #8fb819 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #8fb819 0%,#8fb819 33%,#ffffff 33%,#ffffff 33%,#ffffff 66%,#8fb819 66%,#8fb819 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #8fb819 0%,#8fb819 33%,#ffffff 33%,#ffffff 33%,#ffffff 66%,#8fb819 66%,#8fb819 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fb819', endColorstr='#8fb819',GradientType=0 ); /* IE6-9 */
  }

  &::before {
    margin-right: 25px;
  }

  &::after {
    margin-left: 25px;
  }
}

h3 {
  color: $color1;
}

.strong {
  font-weight: 700;
  color: $colorStrong;
}

.bouton, button, input[type="submit"] {
  color: white;
  text-decoration: none;
  padding: 0 1.3rem;
  background: $color1;
  border-radius: 4px;
  display: inline-block;
  border-width: 0;
  border: 1px solid $color1;
  text-align: center;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  margin: 1em 0;
  outline: none;
  cursor: pointer;

  &:hover {
    color: $color2;
    text-decoration: none;
    background: transparent;
  }
}

.bouton2 {
  @extend .bouton;
  background: transparent;
  color: $color1;
  border-color: $color2;

  &:hover {
    color: white;
    background-color: $color2;
  }
}

.bouton3 {
  @extend .bouton;
  background-color: $color2;
  border-color: $color2;

  &:hover {
    color: $color1;
  }
}

a, a:hover {
  color: $color2;
}

ul {
  padding-left: 14px;

  li {
    list-style-type: none;

    &::before {
      content: '';
      display: inline-block;
      position: relative;
      height: 8px;
      width: 8px;
      border-top: 1px solid $color2;
      border-right: 1px solid $color2;
      -webkit-transform: rotate(45deg) translateZ(0);
      transform: rotate(45deg) translateZ(0);
      left: -1rem;
      top: 0;
      margin: 9px -.4rem 0 0;
      -webkit-transition: left .2s;
      transition: left .2s;
      vertical-align: baseline;
    }
  }
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid $colorText;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow: hidden;
  clear: both;
}

blockquote {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 40px;
  margin-right: 40px;
  border-left: 7px solid lighten($colorText, 15%);
}

// fin styles commun à l'éditeur de Wordpress et au template
