.nav {
  &bar {
    $mgb: 8px;
    background-color: $color1;
    margin-bottom: $mgb;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 5px;
      background-color: $color2;
      position: absolute;
      bottom: -$mgb;
      left: 0;
      right: 0;
    }
  }

  & &-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    @media (max-width: 992px) {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  li {
    &::before {
      content: none;
    }
  }

  .active > .nav-link, li:hover > .nav-link {
    background-color: lighten($color1, 10%);
  }

  & &-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    color: white !important;

    &:not(.nav-dropdown--link) {
      text-align: center;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }

  & &-dropdown {
    &--list {
      border-radius: 0;
      border: none;
      background-color: darken($color1, 5%);
    }

    &--link {
      color: white;
      text-align: left;

      @media (max-width: 992px) {
        text-align: center;
      }

      &:focus, &:hover {
        background-color: darken($color1, 10%);
      }
    }
  }

  // stylise les icônes svg en responsive
  &bar-toggler {
    font-size: 1rem;
  }

  &-togglerIcon {
    background-color: darken($color1, 5%);
    display: inline-block;
    margin: .15rem 0;
  }

  &-icon {
    width: 1.5em;
    height: 1.5em;
    fill: rgba(white, .5);

    &--home {
      fill: white;
    }
  }
}
