.socialNetwork {
  & &-link {
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 2.5px;
    white-space: nowrap;
    -webkit-transition: opacity 1.5s;
    transition: opacity 1.5s;

    &:hover {
      text-decoration: none;
    }
  }

  & &-link:hover &-icon {
    fill: $color1;
  }

  & &-icon {
    width: 30px;
    height: 30px;
    fill: white;
    margin-right: 5px;
    vertical-align: text-top;
  }
}
