// temoignagesType
.temoignagesType {
  &-text {
    margin-bottom: 70px;
    text-align: center;
  }

  &-col {
    margin-bottom: 30px;
  }

  &-frame {
    height: 100%;
    padding: 40px;
    border-radius: 20px;
    border: 3px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  $colors: $color1, darken($color3, 30%), darken($color3, 30%), $color2;
  $i: 1;
  @each $color in $colors {
    &-col#{$i} .temoignagesType-frame {
      border-color: $color;
    }
    $i: $i+1;
  }

  &-content {
    text-align: justify;
  }

  &-informations {
    margin-top: 25px;
  }

  &-location {
    text-align: right;
    margin-bottom: 0;
  }

  &-event {
    font-weight: 700;
  }

  &-aut {
    text-align: right;
    margin-bottom: 0;
    text-transform: capitalize;

    span {
      color: $color1;
      font-weight: 100;
    }
  }

  &-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    .page-numbers:not(.dots):not(.prev):not(.next) {
      margin-right: 5px;
      margin-left: 5px;
      padding: 5px 10px;
      line-height: 1;
      border-radius: 4px;
      border: 2px solid $color3;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transition: border-color .2s;
      transition: border-color .2s;

      &:hover {
        border-color: lighten($color2, 15%);
        text-decoration: none;
      }

      &.current{
        border-color: $color2;
        background-color: $color2;
        color: white;
      }
    }
  }

  &-form {
    border-top: 1px solid $color1;
    margin-top: 75px;
    padding-top: 50px;
  }
}
// fin temoignagesType
